body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
button {
    cursor: pointer;
}
.top-right {
    position: absolute;
    top: 0px;
    right: 0px;
}
.active {
    font-weight: bold;
    pointer-events: none;
}